{% extends 'layouts/main.html' %}
{% block title %}EEPAS{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>EEPAS 💽</h1>
		<p class="lead">ALL ABOUT ARTIST, VENUES & SHOWS</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Locate a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Add a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Locate an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Add an artist</button></a>
		</h3>
		<p class="lead">Advertise your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Add an event</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of top musical artist performing" />
	</div>
</div>
{% endblock %}